#MacOS files
.DS_store
#Large offline QGIS files
maps

#large files
bay_area/data
atx/data
atx/DFW_tract_centroids
CAISO_scraper/*.csv
RSS17_results
*.log
*.mat
*_sparse_save.mat
*_result.mat
*_results.mat
*.graphml
*.accdb
*.png
*.old

#MATLAB files:
# Windows default autosave extension
*.asv
# OSX / *nix default autosave extension
*.m~
# Compiled MEX binaries (all platforms)
*.mex*
# Simulink Code Generation
slprj/
# Session info
octave-workspace
# Simulink autosave extension
*.autosave

#python files
*.pyc
*.pkl
*.ipynb_checkpoints*
venv/


